.list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}
.listItem {
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.button {
  min-width: 40px;
  padding: 10px 5px;
}
.chevron {
  width: 26px;
  height: 26px;
  font-size: 12px;
  &.disabled {
    opacity: 0.2;
  }
}
.chevronIcon {
  opacity: 0.5;
  width: 1rem;
}
