.list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  & > * {
    margin-bottom: 5px;
  }
}
.checkboxes {
  margin-bottom: 1rem;
}
.scroll {
  margin-bottom: 1rem;
  overflow: auto;
  max-height: calc(100vh - 170px);
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}
